*.class
*.log
*.jar
*.zip
*.tar.gz
*.gz

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

### Maven template
target/

.classpath
.project
.settings/
.idea/

*.iml
*.ipr
*.iws

### Gradle
.gradle
/build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache

.pre_commit_file_list
.githooks/pmd-bin-6.34.0/

/logs
