<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <RollingFile
                name="rollingFile"
                fileName="./logs/breakout-clone.log"
                filePattern="./logs/breakout-clone.log.%d{yyyy-MM-dd}.%i.gz"
                ignoreExceptions="false">
            <PatternLayout pattern="%d{ISO8601} : %pid : %-6relative ms : %-5level : %-12logger{1} : %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="4 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
        <Console
                name="LogToConsole"
                target="SYSTEM_OUT"
                ignoreExceptions="false">
            <PatternLayout pattern="%d{ISO8601} : %pid : %-6relative ms : %-5level : %-12logger{1} : %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="rollingFile"/>
            <AppenderRef ref="LogToConsole"/>
        </Root>
    </Loggers>
</Configuration>